html,body{
    width: 100%;
    padding: 0;
    margin: 0;
}
*{
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 44px;
    background: #3723da;
    position: relative;
}
.back{
    width: 1rem;
    position: absolute;
    left: 5px;
    top: 10px;
}
.back img{
    width: 100%;
}
.menu{
    width: 1rem;
    position: absolute;
    right: 5px;
    top: 10px;
}
.menu img{
    width: 100%;
}
.header-name{
    position: relative;
    text-align: center;
    font-size: .7rem;
    line-height: 44px;
    color: #fff;
    padding: 0 40px;
}
.session{
    padding: 0 5px 5px 5px;
}
.sess{
    padding: 0 10px;
    position: relative;
    height: 40px;
    border-bottom: 1px solid #e7e7e7;
}
.sess-name{
    position: absolute;
    color: #7E7E7E;
    left: 10px;
    line-height: 40px;
    font-size: 12px;
}
.sess-box{
    padding: 0 30px 0 40px;
    color: #000000;
}
.right{
    position: absolute;
    right: 10px;
    top: 13px;
    width: 15px;
}
.right img{
    width: 100%;
}
.sess-text{
    font-size: 14px;
    line-height: 40px;
    color: #7E7E7E;
}
.icon-img{
    width: 20px;
    margin-top: 13px;
}
.icon-img img{
    width: 100%;
}
.icon-nameimg{
}
.icon-nameimg img{
    height: 20px;
    margin-top: 10px;
}


.sidenav {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.4s;
}
.sidenav-box{
    position: relative;
}
.side-head{
    position: fixed;
    background: #fbfbfb;
    height: 40px;
    width: 100%;
    padding: 0 20px;
    z-index: 99999;
    border-bottom: 1px solid #e7e7e7;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #e31616;
}
.sidenav .closebtn {
    font-size: 20px;
    padding: 0 5px;
    background: rgba(0,0,0,0.1);
    border-radius: 50px;
    overflow: hidden;
    margin-top: 8px;
    line-height: 25px;
}
.side-title{
    font-size: 15px;
    line-height: 40px;
}
.side{
    padding-top: 40px;
}
.side-box{
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    height: 40px;
    border-bottom: 1px solid #e7e7e7;
}
.side-box a{
    display: inline-block;
}
.name-box{
    padding-left: 100px;
}
.name-box p{
    text-align: right;
}
.side-num{
    padding-left: 20px;
}
.side-num span{
    font-size: 12px;
    color: #7f7f7f;
    margin-left: 5px;
}
.side-img{
    width: 20px;
    position: absolute;
    left: 10px;
    top: 12px;
}
.side-img img{
    width: 100%;
}
.right-img img{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 15px;
}
.right-none{
    display: none;
}
.name-img img{
    position: absolute;
    left: 10px;
    top: 10px;
    height: 20px;
}
.side-box p{
    line-height: 40px;
    font-size: 14px;
    color: #7E7E7E;
}

.hide{
    display: none;
}
.refer{
}
.refer-title{
    border-bottom: 1px solid #cdcdcd;
    padding: 5px 0;
    position: relative;
}
.refer-list{
    display: -webkit-flex;
    text-align: center;
    border: 1px solid #cdcdcd;
    border-radius: 10px;
    width: 200px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.refer-item{
    -webkit-flex-grow: 1;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.item-on{
    background: #eee;
}
.list-waring{
    position: absolute;
    right: 10px;
    top: 5px;
    width: 30px;
    font-size: 12px;
    color: #3723da!important;
}
.list-waring p{
   line-height: 16px;
    font-size: 12px;
    color: #3723da!important;
}
.text-box{
    width: 100%;
    padding: 10px 5px;
    border-bottom: 1px solid #e4e4e4;
}
.text-box input{
    border: none;
    height: 25px;
    resize: none;
    font-size: 12px;
    padding-left: 10px;
    width: 80%;
}
.text-box textarea{
    width: 100%;
    resize: none;
    height: 150px;
    border: none;
    font-size: 12px;
}

textarea::-webkit-input-placeholder{
    color: #dcdcdc;
}
input::-webkit-input-placeholder{
    color: #dcdcdc;
}
.arrange{
    background: #3723da;
    color: #fff;
    font-size: 10px;
    padding: 3px 10px;
    border-radius: 5px;
}
.prompt{
    font-size: 10px;
    margin: 10px 0 5px 0;
}
.prompt .c-red{
    color: #f04848;
}
.text-box .c-red{
    color: #f04848;
    font-size: 10px;
    margin: 0 2px;
}
.text-box .jiaji{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 2px;
}
.trade{
   padding: 10px 10px 20px 10px;
}
.trade a{
    font-size: 10px;
    color: #3723da;
}

.footer{
    width: 100%;
    position: fixed;
    padding: 10px 14px;
    z-index: 999;
    bottom: 0;
    background: #fff;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
}
.agree{
    font-size: 10px;
    color: #7E7E7E;
    line-height: 20px;
}
.agree a{
    color: #3723da;
}
.subm-btn button{
    background: #221396;
    border-color: #221396;
    padding: 10px 15px;
    font-size: 15px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
}

.drop{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    background: rgba(0,0,0,0.4);
    bottom: 0;
    display: none;
}
.modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    text-align: center;
}
.modal-content {
    background-color: #fefefe;
    margin: 20% auto 0 auto;
    border: 1px solid #888;
    width: 300px;
    padding: 20px 40px;
    border-radius: 20px;
    overflow: hidden;
}
.waring-box{
    background-color: #fefefe;
    margin: 20% auto 0 auto;
    border: 1px solid #888;
    width: 300px;
    padding: 20px 10px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.light-box{
    width: 72px;
    margin: 0 auto 10px;
}
.light-box img{
    width: 100%;
}
.list-text p{
    font-size: .4rem;
    color: #666666;
    margin: 5px 0;
}
.close-button{
    padding: 5px 10px;
    border-radius: 50px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    right: 10px;
    color: #fff;
    top: 10px;
    font-size: 14px;
}
.list-text h1{
    font-size: .6rem;
    color: #f04848;
    margin-bottom: 5px;
}
.list-text h1 span{
    color: #fd7400;
}
.passw-box{
    width: 100%;
    position: relative;
}
.passw-box .passw-num {
    font-size: 18px;
    margin-bottom: 10px;
}
.passw-box input {
    width: 100%;
    padding: 0 10px;
    height: 30px;
    text-align: center;
    box-sizing: border-box;
    font-size: 15px;
    border-radius: 50px;
    margin: 10px 0;
}
.passw-box button {
    width: 100%;
    height: 35px;
    font-size: 15px;
    color: #fff;
    border-radius: 50px;
    overflow: hidden;
    margin-top: 10px;
    background: #3723da;
}

.right-block{
    display: block;
}