.mui-bar .mui-title{
    color:#fff;
}
.outbox{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 1px;
}
.outbox .inbox{
    width: 90%;
    margin: 32px auto;
    font-size: 16px;
    color: #333333;
    margin-bottom: 500px;
}
.outbox .inbox .info{
    color: #666;
}
.outbox .inbox .name{
    margin-top: 20px;
}

.copyright{
    line-height: 80px;
    background: #2b2b2b;
    text-align: center;
    color: #dcdcdc;
    font-size: 14px;
}

.content{
    text-align: justify;
    padding: 10px 20px 20px;
    padding-bottom: 0px;
}
.content p{
    color: #161617;
}