<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="tab-wrap" style="margin: 10px;" >
		<ul class="tab-nav nav">
			<li class="current"><a href="{:U('adminSetting')}">个人信息设置</a></li>
		</ul>
		<div class="tab-content">
			<!-- 修改密码表单 -->
			<form action="{:U()}" method="post" class="form-horizontal ajaxForm">
				<div class="form-item">
					<label class="item-label">真实姓名<span class="check-tips"><b>*</b></span></label>
					<div class="controls">
						<input type="text" class="text input-5x" name="real_name" value="{$info.nick_name|default=''}" readonly="readonly">
					</div>
				</div>
				<div class="form-item">
					<label class="item-label">登录密码<span class="check-tips">(如果不修改请留空)</span></label>
					<div class="controls">
						<input type="password" class="text input-4x" name="password" placeholder="请输入密码">
						<input type="password" class="text input-4x" name="re_password" placeholder="确认登录密码">
					</div>
				</div>
				<div class="tw-tool-bar-bot">
					<button type="submit" class="tw-act-btn-confirm">提交</button>
				</div>
			</form>
		</div>
	</div>
</block>

<block name="script">
	<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
	<script type="text/javascript" charset="utf-8" src="__COMMON__/js/imgupload.js"></script>
	<script type="text/javascript" src="__PUBLIC__/assets/js/hex_sha1.js"></script>
	<script>

		function validate(){
			var password = $('input[name="password"]');
			var re_password = $('input[name="re_password"]');

			if ($.trim(password.val()) != '' || $.trim(re_password.val()) != '') {
				if (password.val().length < 4 || password.val().length > 40) {
					toastr.error('密码长度4-16位');
					password.focus();
					return false;
				}
				if (password.val() != re_password.val()) {
					toastr.error('两次登录密码不相同');
					password.focus();
					return false;
				}
				// 对发送出去的代码进行加密,  如果超过40位, 当做已经加密过, 不再加密
				if (password.val().length < 40 ) {
					password.val( $.trim( password.val() ) );
					re_password.val( $.trim(re_password.val()  ) );
				}
			}
		}
	</script>
</block>
