<extend name="Public/base"/>

<block name="body">
    <div class="tw-layout">
    	<div class="tw-list-hd">
            {:isset($info['id'])?'编辑':'新增'}信息
        </div>

	    <div class="tw-list-wrap tw-edit-wrap">
            <form action="__SELF__" method="post" class="form-horizontal ajaxForm">
                <div class="form-item">
                    <label class="item-label">内容<span class="check-tips"><b>*</b>（输入内容）</span></label>
                    <div class="controls">
                        <textarea name="content" id="UE">{$info.content|htmlspecialchars_decode}</textarea><br/>
                    </div>
                </div>

                 <div class="tw-tool-bar-bot">
                    <button type="submit" class="tw-act-btn-confirm">提交</button>
                    <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
                </div>
                    <input type="hidden" name="id" value="{$info.id|default=''}"/>
                </form>
	    </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>

    <script>
        _TARGET_URL="{:U('Admin/Protocol/index')}";
        UE.getEditor('UE',{
            autoHeightEnabled: false,
            initialFrameWidth: '700',
            initialFrameHeight: 350
        });

        UE.getEditor('UE',{
            autoHeightEnabled: false,
            initialFrameWidth: '700',
            initialFrameHeight: 350
        });

    </script>
</block>