<extend name="Public/base"/>

<block name="body">
	<div class="tw-layout">
		<div class="tw-list-hd">
			{:isset($info['id'])?'编辑':'新增'}用户
		</div>
		<form action="{:U()}" method="post" class="ajaxForm">
			<div class="tw-list-wrap tw-edit-wrap">
	            <table class="wf-form-table">
	                <colgroup>
	                    <col width="15%">
	                    <col width="35%">
	                    <col width="15%">
	                    <col width="35%">
	                </colgroup>
	                <tbody>
	        			<tr>
	                        <th><em>*</em>用户名:</th>
	                        <td>
	                            <input type="text" class="text input-5x" name="user_name" value="{$info['user_name']}" placeholder="4-20位字母或数字, 首字符必须为字母" id="user_name"
		                            <if condition="$info.id gt 0">
		                            	disabled="disabled" readonly="true"
		                            </if>
		                        >
	                        </td>
	                        <th><em>*</em>昵称:</th>
	                        <td>
	                            <input type="text" class="text input-5x" name="nick_name" value="{$info['nick_name']}" placeholder="用户昵称">
	                        </td>
	                    </tr>
	                    <tr>
	                        <th><em>*</em>手机号:</th>
	                        <td>
	                            <input type="text" class="text input-5x" name="phone" value="{$info['phone']}" placeholder="11位手机号码, 可用于登录">
	                        </td>
	                        <th>电子邮箱:</th>
	                        <td>
	                            <input type="text" class="text input-5x" name="email" value="{$info['email']}" placeholder="用户电子邮箱">
	                        </td>
	                    </tr>
	                    <tr>
	                        <th>
	                        	<if condition="$info['id'] ELT 0"><em>*</em></if>登录密码:
	                        </th>
	                        <td>
	                            <input type="password" class="text input-5x" name="password" value=""
	                            	placeholder = "<if condition='$info.id ELT 0' >用户登录密码, 4位及以上<else />如果不修改, 请留空(6位以上字符)</if>">
	                        </td>
	                        <th>
	                        	<if condition="$info['id'] ELT 0"><em>*</em></if>确认登录密码:
	                        </th>
	                        <td>
	                            <input type="password" class="text input-5x" name="re_password" value="" placeholder="再次输入登录密码">
	                        </td>
	                    </tr>


	                    <tr>
	                    	<th>所属用户组:</th>
	                    	<td>

								<select name="auth_group">

	                    		<volist name="roleList" id="vo" offset="0" length='5'>
									<option value="{$vo.id}" {$tem_group_id == $vo['id'] ? 'selected':''} >{$vo.title}</option>
	                    		</volist>
								</select>
	                    	</td>


		        			<th>是否启用:</th>
	                        <td>
	                        	<label class="wf-form-label-rc">
	                            	<input type="radio" value="0" name='status' checked="checked" id="disabledTrue"> 启用
	                            </label>
	                            <label class="wf-form-label-rc">
		                            <input type="radio" value="1" name='status' id="disbledFalse"> 禁用
	                            </label>
	                            <if condition="$info['disabled'] eq 1">
	                            	<script>
	                            		$('#disbledFalse').attr('checked', 'checked');
	                            	</script>
	                            </if>
	                            <if condition="$info['username'] eq 'admin'">
		                            <script>
	                            		$('#disabledTrue,#disbledFalse').attr('disabled', 'disabled');
	                            	</script>
	                            </if>
	                        </td>

	                     </tr>
						<tr>
							<th>负责的卡类:</th>
							<td>

								<select name="card_type">

									<volist name="cardList" id="vo">
										<option value="{$vo.id}" {$info['card_type'] == $vo['id'] ? 'selected':''} >{$vo.name}</option>
									</volist>
								</select>
							</td>


						</tr>

	                    <tr>

	                </tbody>
	            </table>
	        </div>
	        <div class="tw-tool-bar-bot">
				<input type="hidden" name="id" value="{$info['id']}" >
                <button type="submit" class="tw-act-btn-confirm"  >提交</button>
                <button type="button" onclick="history.back()" class="tw-act-btn-cancel">返回</button>
            </div>
        </form>
	</div>
</block>

<block name="script">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__COMMON__/js/imgupload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/assets/js/hex_sha1.js"></script>
	<script>


        function validate(){
        	var password = $('input[name="password"]');
        	var re_password = $('input[name="re_password"]');

        	if ($.trim(password.val()) != '' || $.trim(re_password.val()) != '') {
	        	if (password.val().length < 4 || password.val().length > 40) {
	                toastr.error('密码长度4-20位');
	                password.focus();
	                return false;
	            }
	            if (password.val() != re_password.val()) {
	            	toastr.error('两次登录密码不相同');
	            	password.focus();
	            	return false;
	            }

        	}

        }


    </script>
</block>
