html,body{
    width: 100%;
    overflow-x: hidden;
}
.header{
    width: 100%;
    background: #3723da;
    height: 80px;
}
.header-center{
    width: 1214px;
    margin: 0 auto;
}
.header-center .logo{
    width: 216px;
    height: 50px;
    margin-top: 9px;margin-left:-50px;
}
.header-center .logo img{
    display: block;
    width: 100%;
}
.header-center .nav .nav-item{
    width: 120px;
    line-height: 80px;
    position: relative;
    margin:  0 5px;
}
.header-center .nav .nav-item a{
    display: block;
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.header-center .nav .nav-item:hover{
    background: #221396;
}
.header-center .nav .on{
    background: #221396;
}
.header-center .nav .nav-item:last-child:hover .sub-list{
    display: block;
}
.header-center .nav .nav-item .sub-list{
    position: absolute;
    width: 260px;
    height: 210px;
    border-radius: 6px;
    background: #2a2a2a;
    top: 80px;
    z-index: 999;
    display: none;
    right: -70px;
}
.header-center .nav .nav-item .sub-list .sub-item{
    line-height: 70px;
    padding-right: 40px;
    font-size: 16px;
}
.header-center .nav .nav-item .sub-list .sub-item img{
    margin-right: 10px;
    vertical-align: -4px;
    height: 24px;
}
.header-center .nav .nav-item .sub-list .sub-item:hover{
    background: #4a4a4a;
}
.header-center .nav .nav-item .sub-list .sub-sj{
    border: 10px solid transparent;
    border-bottom: 10px solid #2a2a2a;
    position: absolute;
    top: -20px;
    z-index: 1009;
    margin-left: -10px;
    left: 50%;
}
/*banner*/
.banner{
    width: 100%;
    height: 440px;
    background: url("../images/banner2.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    display: block;
}
.banner-btn{
    display: block;
    width: 270px;
    height: 40px;
    border-radius: 22px;
    border: 2px solid #ff0003;
    text-align: center;
    line-height: 40px;
    position: absolute;
    font-size: 20px;
    color: #fff;
    margin-left: -135px;
    left: 50%;
    bottom: 158px;
    background: #000000;
}
.outbox{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 1px;
}
.fff{
    background: #fff;
}
.f5f5{
    background: #f5f5f5;
}
.outbox .titlebox{
    width: 1251px;
    margin:  24px auto;
}
.outbox .titlebox .boder{
    height: 1px;
    background: #dcdcdc;
    margin-top: 13px;
    width: 500px;
}
.outbox .titlebox .title{
    width: 250px;
    text-align: center;
    font-size: 20px;
    color: #333;
}
.outbox .inbox{
    width: 1200px;
    margin: 32px auto;
}
.outbox .inbox .step-item {
    width: 400px;

}
.outbox .inbox .step-item .img-box{
    width: 110px;
    margin: 0 auto;
}
.outbox .inbox .step-item .img-box img{
    display: block;
    width: 100%;
}
.outbox .inbox .step-item span{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #529eff;
    margin-top: 28px;
}
.outbox .name-box{
    background: #fff;
    margin-top: -2px;
    padding-bottom: 28px;
}
.outbox .name-box h4{
    border-bottom:2px solid #529eff;
     width: 182px;
    margin: 0 auto;
    font-size:20px;
    color: #333333;
    text-align: center;
   line-height: 36px;
}
.outbox .card-list .card-item{
    width: 286px;
    background: #fff;
    margin: 0 7px;
    margin-top: 16px;
    height: 200px;
}
.outbox .card-list .card-item:hover{
    box-shadow:-2px 6px 2px 4px rgba(209,226,246,.5);
}
.outbox .card-list .card-item img{
    display: block;
    margin: 37px auto;
    width: 200px;
}
.outbox .hint-info{
    color: #999999;
    font-size: 20px;
    text-align: center;
}
.outbox .btn{
    width: 138px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border: 1px solid #f74d4f;
    background: #ff6466;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
    margin: 30px auto;
    display: block;
}
.copyright{
    line-height: 80px;
    background: #2b2b2b;
    text-align: center;
    color: #dcdcdc;
    font-size: 14px;
}

.area{
    border: 1px solid #ff9932;
    padding: 5px;
    border-radius: 4px;
    background: #fff7ef;
    color: #ff9932;
}

.row{
    height: 30px;
    line-height: 30px;
    margin-left: 50px;
    width: 100%;
}

.area-province{
    float: left;
    width: 5%;
    color: #bbbaba;
}

.row-area{
    height: 40px;
    margin-top: 22px;
}

.row li{
    float:left;
}

.provice-detail{
    float: left;
    width: 80%;
}

.provice-detail span{
    padding:8px;
}

.inbox-content{
    width: 1200px;
    margin: 32px auto;
}

.inbox-content dl{
    zoom: 1;
    overflow: hidden;
    line-height: 25px;
    margin: 0px;
    font-size: 14px;
    padding-left: 20px;
}

.inbox-content dt{
    float: left;
    width: 6%;
    color: #7b7878;
    height: 30px;
    line-height: 30px;
}
.inbox-content dd{
    float: left;
    width: 90%;
    margin-left: 0px;

}

.inbox-content dd li{
    float: left;
    width: 70px;
    cursor: pointer;
    text-indent: 4px;
    height: 30px;
    overflow: Hidden;
    display: inline;
    text-align: center;
    line-height: 30px;
}

.area-title {
    height: 40px;
    line-height: 40px;
    border-bottom: 1px solid #cac6c6;
    font-size: 14px;
    padding-left: 20px;
}
