body{
	min-width: 1080px;
}

.setPassword{
	height: 100%;
	background: #fff;
	padding: 30px;
}

.setPassword-floor{
	margin-top: 30px;
	margin-left: 77px;
	font-size: 14px;
	color: #333;
}

.setPassword-font{
	width: 80px;
	height: 47px;
	line-height: 47px;
	margin-right: 50px;
}

.setPassword-input{
	width: 379px;
	height: 47px;
	border: 1px solid #DCE3E6;
	border-radius: 4px;
	background: #fff;
}

.setPassword-btn{
	width: 207px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	color: #fff;
	background: #27BAFF;
	border-radius: 4px;
	margin-top: 37px;
	margin-left: 210px;
}
