@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?y52kvo');
  src:  url('fonts/icomoon.eot?y52kvo#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?y52kvo') format('truetype'),
    url('fonts/icomoon.woff?y52kvo') format('woff'),
    url('fonts/icomoon.svg?y52kvo#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-svg {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #555B3D;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wytx:before {
  content: "\e900";

}
.icon-xiangx:before {
  content: "\e901";

}
.icon-yhk_h:before {
  content: "\e902";

}
.icon-yonghzl1:before {
  content: "\e903";

}
.icon-zfb_c:before {
  content: "\e904";

}
.icon-zilgl:before {
  content: "\e905";

}
.icon-zjhl_svg:before {
  content: "\e906";

}
.icon-bangz:before {
  content: "\e907";

}
.icon-caozrz:before {
  content: "\e908";

}
.icon-close:before {
  content: "\e909";

}
.icon-danz:before {
  content: "\e90a";

}
.icon-del:before {
  content: "\e90b";

}
.icon-excel:before {
  content: "\e90c";

}
.icon-jias_h:before {
  content: "\e90d";

}
.icon-jiejlf_svg:before {
  content: "\e90e";

}
.icon-jydy_svg:before {
  content: "\e90f";

}
.icon-kong .path1:before {
  content: "\e910";

}

.icon-login_qq:before {
  content: "\e918";

}
.icon-login_sj:before {
  content: "\e919";

}
.icon-login_wx:before {
  content: "\e91a";

}
.icon-maikjl:before {
  content: "\e91b";

}
.icon-me_more_h:before {
  content: "\e91d";

}
.icon-piliang:before {
  content: "\e91e";

}
.icon-renz:before {
  content: "\e91f";

}
.icon-search:before {
  content: "\e920";

}
.icon-shitk_h:before {
  content: "\e921";

}
.icon-tishi:before {
  content: "\e922";

}
.icon-tix .path1:before {
  content: "\e923";

}
.icon-tix .path2:before {
  content: "\e924";
  margin-left: -0.81640625em;

}
.icon-tix .path3:before {
  content: "\e925";
  margin-left: -0.81640625em;

}
.icon-tix .path4:before {
  content: "\e926";
  margin-left: -0.81640625em;

}
.icon-tixjl1:before {
  content: "\e927";

}
.icon-tixjl:before {
  content: "\e928";

}
.icon-tongjjl:before {
  content: "\e929";

}
.icon-woymk:before {
  content: "\e92a";

}
.icon-wu:before {
  content: "\e92b";

}
.icon-wytx1:before {
  content: "\e92c";

}

