<extend name="Base/base"/>
<block name="style">
    <link rel="stylesheet" href="__HOME__/css/conversion.css">
</block>
<block name="content">


    <!--banner-->
    <a href="#" class="banner"></a>
    <!--步骤-->
    <div class="outbox  credit">
    <div class=" bgf5f5" style="width: 1200px;margin: 0 auto;height: 520px;">
        <h3>积分兑换</h3>
        <div class="inbox">
            <div class="p-box">
                <p>积分没有用？</p>
                <p>积分可以当钱花，想兑就兑</p>
            </div>
            <a class="btn" href="http://wpa.qq.com/msgrd?v=3&uin=76891828&site=qq&menu=yes" target="_blank">立即咨询</a>
        </div>
        </div>
    </div>
    <!--<div class="outbox partner f5f5">-->
        <!--<h3>合作伙伴</h3>-->
        <!--<ul class="cf partner-list">-->
            <!--<li class="partner-item fl"><img src="__HOME__/images/partner1.png" alt=""></li>-->
            <!--<li class="partner-item fl"><img src="__HOME__/images/partner2.png" alt=""></li>-->
            <!--<li class="partner-item fl"><img src="__HOME__/images/partner3.png" alt=""></li>-->
            <!--<li class="partner-item fl"><img src="__HOME__/images/partner4.png" alt=""></li>-->
            <!--<li class="partner-item fl"><img src="__HOME__/images/partner5.png" alt=""></li>-->
            <!--<li class="partner-item fl"><img src="__HOME__/images/partner6.png" alt=""></li>-->
            <!--<li class="partner-item fl"><img src="__HOME__/images/partner7.png" alt=""></li>-->
            <!--<li class="partner-item fl"><img src="__HOME__/images/partner8.png" alt=""></li>-->
        <!--</ul>-->
    <!--</div>-->
</block>
<block name="script">
    <script>
        $(".index-title li").removeClass("liColor");
        $(".index-title li").eq(2).addClass("liColor");

    </script>
</block>