<extend name="Public/base"/>

<block name="body">
    <div class="tw-layout">
	<div class="tw-list-hd">
             {:isset($info['id'])?'编辑':'新增'}文章分类
        </div>
		
	    <div class="tw-list-wrap tw-edit-wrap">
            <form action="__SELF__" method="post" class="form-horizontal ajaxForm" enctype="multipart/form-data">
                <div class="form-item">
                    <label class="item-label">文章分类名称<span class="check-tips"><b>*</b>（输入文章分类名称）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="name" value="{$info.name}">
                    </div>
                </div>
<!--
                <div class="form-item">
                    <label class="item-label">英文文章分类名称<span class="check-tips"><b>*</b>（输入文章分类名称）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="ename" value="{$info.ename}">
                    </div>
                </div>-->

                <div class="form-item">
                    <label class="item-label">文章分类简介<span class="check-tips"><b>*</b>（输入文章分类简介）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="simple_name" value="{$info.simple_name}">
                    </div>
                </div>

                <div class="form-item">
                    <label class="item-label">排序<span class="check-tips"><b>*</b></span></label>
                    <div class="controls">
                         <input type="text" class="text input-large" name="sort" value="{$info.sort}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">是否显示<span class="check-tips"><b>*</b></span></label>
                    <div class="controls">
                        <if condition="$info.display eq 1">
                            <label class="radio"><input type="radio" value="0" name="display" >是</label>
                            <label class="radio"><input type="radio" value="1" name="display" checked="checked" >否</label>
                        <else  />
                            <label class="radio"><input type="radio" value="0" name="display" checked="checked" >是</label>
                            <label class="radio"><input type="radio" value="1" name="display" >否</label>
                        </if>
                    </div>
                </div> 
                 <div class="tw-tool-bar-bot">
                    <input type="hidden" name="id" value="{$info.id}"/>
                    <button type="submit" class="tw-act-btn-confirm">提交</button>
                    <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
                </div>
            </form>
	    </div>
    </div>
</block>

<block name="script">
    <script>
        _TARGET_URL="{:U('Sqnbcadmin/ArticleCategory/index')}";
    </script>
</block>