<extend name="Public/base"/>

<block name="body">
    <div class="tw-layout">
    	<div class="tw-list-hd">
            {:isset($info['id'])?'编辑':'新增'}分类
        </div>

	    <div class="tw-list-wrap tw-edit-wrap">
            <form action="__SELF__" method="post" class="form-horizontal ajaxForm">
                <div class="form-item">
                    <label class="item-label">名称<span class="check-tips"><b>*</b>（输入名称）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="name" value="{$info.name}">
                    </div>
                </div>
                <div class="form-item">
                    <label class="item-label">上传图片<span class="check-tips">（用于上传图片 请上传大于400*400的正方形图片）</span></label>
                    <div class="controls">
                        <div>
                            <img src="{$info.photo_path}" style="height:129px; width:129px;" id="img_"/>
                        </div>
                        <input type="hidden" value="{$info.photo_path}" name="photo_path" id="img" />
                        <input class="btn btn-default btn-xs" type="button" value="上传" id="btnUpload"/>
                        <input class="btn btn-danger btn-xs" type="button" value="删除" onclick="delFile($('#img').val(), '')" id="btn_delete_" />
                        <if condition="$info.photo_path eq ''">
                            <script>
                                $("#img_, #btn_delete_").hide();
                            </script>
                        </if>
                    </div>
                </div>
                 <div class="tw-tool-bar-bot">
                    <button type="submit" class="tw-act-btn-confirm">提交</button>
                    <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
                </div>
                    <input type="hidden" name="id" value="{$info.id|default=''}"/>
                </form>
	    </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__COMMON__/js/imgupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__JS__/admin.js"></script>
    <script>
        _TARGET_URL="{:U('Admin/CardType/index')}";
        $(function(){
            ajaxUpload('#btnUpload', "#img", 'CardType', '');
        })
    </script>
</block>