<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	<title>每天收卡网_礼品卡兑换_一家专注二手礼品卡回收的网站 - www.ohbbs.cn 欧皇源码论坛 </title>
	<meta name="keywords" content="{:C('KEYWORDS')}">
	<meta name="description" content="{:C('DESCRIPTION')}">
	<link rel="stylesheet" type="text/css" href="__HOME__/css/base.css" />
	<link rel="stylesheet" type="text/css" href="__HOME__/css/style.css" />
	<script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?1d59f51ca1e06504857c1dbf0b8ba09c";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
	</script>
</head>
<body>
<!-- 顶部导航栏 -->
<div class="user-header cf">
	<a href="/"><img class="logo fl" src="__HOME__/images/logo.png"></a>
	<div class="user-title fl">
		<ul class="user-list">
			<a href="/"><li >首页</li></a>
			<a href="{:U('Card/sellcard')}"><li>寄售中心</li></a>
			<a href="{:U('Card/conversion')}"><li>积分兑换</li></a>
			<a href="{:U('Card/recycle')}"><li>企业回收</li></a>
		</ul>
	</div>
	<div class="user-right fr cf">
		<div class="user-right-name fl cf">
			<img class="user-avatar fl" src="__HOME__/images/default.png">
			<span class="user-font fl">{$userInfo['username']}</span>
			<img class="user-jiantou fl" src="__HOME__/images/xiangx@2x.png">
			<div class="login-drop">
				<img class="dropDown-top" src="__HOME__/images/top.png" >
				<div class="dropDown-content">
					<a href="{:U('User/index')}">
						<div class="dropDown-floor cf">
							<!--<img class=" fl" src="__HOME__/images/subicon1.png" >-->
							<span class="fl" style="margin-left: 47px; ">账户中心</span>
						</div>
					</a>
					<!--<div class="line"></div>-->
					<!--<a href="{:U('User/sellCardRecord')}">-->
						<!--<div class="dropDown-floor cf">-->
							<!--<img class=" fl" src="__HOME__/images/subicon3.png" >-->
							<!--<span class="fl">卖卡记录</span>-->
						<!--</div>-->
					<!--</a>-->
					<div class="line"></div>
					<!--<a href="{:U('Home/Public/logout')}">-->
						<div class="dropDown-floor">
							<!--<img class=" fl" src="__HOME__/images/subicon2.png" >-->
							<span class="fl loginout" style="margin-left: 47px; ">退出登录</span>
						</div>
					<!--</a>-->
				</div>
				<img class="dropDown-bto" src="__HOME__/images/bot.png" >
			</div>
		</div>
		<div class="user-right-help fr cf">
			<img class="help-pic fl" src="__HOME__/images/bangz@2x.png">
			<span class="user-help-font fr" style="cursor: pointer">帮助中心</span>

			<div class="dropDown-help help-login">
				<img class="dropDown-top" src="__HOME__/images/top.png" >
				<div class="help-content">
					<div class="help-title cf">
						<a href="{:U('Help/Index')}"><span class="fl" >帮助中心</span></a>
						<div class="help-line fl"></div>
						<a href="{:U('Help/Index',array('id'=>13))}"><span class="fr">卖卡流程</span></a>
					</div>
					<div class="line"></div>
					<div class="help-box">
						<div class="help-box-serve">或直接拨打客服热线</div>
						<div class="help-box-num">8373185</div>
						<div class="help-box-date">周一至周日 8:00-24:00</div>
					</div>
					<div class="line"></div>
					<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={:C('QQ')}&amp;site=qq&amp;menu=yes"><div class="help-box-bot">联系在线客服</div></a>
				</div>
				<img class="dropDown-bto" src="__HOME__/images/bot.png" >
			</div>
		</div>

	</div>
</div>

<!-- 侧边导航栏 -->
<div class="user-nav">
	<div class="user-sub-nav">
		<div class="user-sub-nav-floor nav-select cf" data-src="{:U('User/user')}">
			<div class="nav-box fl">
				<i class="icon-yonghzl1 icon-svg"></i>
			</div>
			<span class="user-nav-font fl">用户总览</span>
			<i class="icon-me_more_h icon-svg fr"></i>
		</div>
		<div class="user-sub-nav-floor cf" data-src="{:U('User/meApply')}">
			<div class="nav-box fl">
				<i class="icon-wytx icon-svg"></i>
			</div>
			<span class="user-nav-font fl">我要提现</span>
			<i class="icon-me_more_h icon-svg fr"></i>
		</div>
		<div class="user-sub-nav-floor floor-record cf" data-src="{:U('User/record')}">
			<div class="nav-box fl">
				<i class="icon-tixjl icon-svg"></i>
			</div>
			<span class="user-nav-font fl">提现记录</span>
			<i class="icon-me_more_h icon-svg fr"></i>
		</div>
		<p class="nav-br"></p>
		<div class="user-sub-nav-floor cf" data-src = "{:U('User/sellCard')}">
			<div class="nav-box fl">
				<i class="icon-woymk icon-svg"></i>
			</div>
			<span class="user-nav-font fl">我要卖卡</span>
			<i class="icon-me_more_h icon-svg fr"></i>
		</div>
		<div class="user-sub-nav-floor floor-sell-record cf" data-src = "{:U('User/sellCardRecord')}">
			<div class="nav-box fl">
				<i class="icon-maikjl icon-svg"></i>
			</div>
			<span class="user-nav-font fl">卖卡记录</span>
			<i class="icon-me_more_h icon-svg fr"></i>
		</div>
		<!--<div class="user-sub-nav-floor cf" data-src = "{:U('User/statistics')}">-->
			<!--<div class="nav-box fl">-->
				<!--<i class="icon-tongjjl icon-svg"></i>-->
			<!--</div>-->
			<!--<span class="user-nav-font fl">统计记录</span>-->
			<!--<i class="icon-me_more_h icon-svg fr"></i>-->
		<!--</div>-->
		<p class="nav-br"></p>
		<div class="user-sub-nav-floor  floor-phone cf" data-src = "{:U('User/data')}">
			<div class="nav-box fl">
				<i class="icon-zilgl icon-svg"></i>
			</div>
			<span class="user-nav-font fl">资料管理</span>
			<i class="icon-me_more_h icon-svg fr"></i>
		</div>
		<div class="user-sub-nav-floor cf" data-src = "{:U('User/log')}">
			<div class="nav-box fl">
				<i class="icon-caozrz icon-svg"></i>
			</div>
			<span class="user-nav-font fl">操作日志</span>
			<i class="icon-me_more_h icon-svg fr"></i>
		</div>
	</div>
	<div class="nav-serve cf">
		<img class="serve-img fl" src="__HOME__/images/kefu@2x.png">
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin={:C('QQ')}&amp;site=qq&amp;menu=yes"><div class="serve-font fl">在线客服咨询</div></a>
	</div>
	<div class="serve-text">客服电话</div>
	<div class="serve-phone">400-632-3760</div>
	<div class="serve-date">(9:00-23:00)</div>
</div>

<!-- 导航栏右侧内容展示区 -->
<div class="user-content">
	<iframe id="iframe-page-content" name="right-content" src="{:U('User/user')}" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
</div>


<!-- 设置用户名弹出层 -->
<div class="pop-ups-name aletr-model"  data-type="name">
	<div class="pop-ups-name-title cf">
		<span class="fl">设置用户名</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<div class="pop-ups-name-content">
		<span>用户名：</span>
		<input type="text" value="" placeholder="请填写用户名" id="login_account"/>
	</div>
	<div class="pop-ups-name-point">
		用户名可用来登录，支持字母、数字的组合，6-20个字符，不支持中文
	</div>
	<div class="pop-ups-name-btn name_sub">提交</div>
</div>

<!-- 设置QQ弹出层 -->
<div class="pop-ups-name aletr-model"  data-type="qq">
	<div class="pop-ups-name-title cf">
		<span class="fl">设置QQ</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<div class="pop-ups-name-content">
		<span>QQ号码：</span>
		<input type="text" value="" placeholder="请填写QQ号码" id="qq"/>
	</div>
	<div class="pop-ups-name-point">
		<!--用户名可用来登录，支持字母、数字、“-”“_”的组合，6-20个字符，不支持中文-->
	</div>
	<div class="pop-ups-name-btn qq_sub">提交</div>
</div>

<!-- 绑定手机弹出层 -->
<div class="pop-ups-phone aletr-model"  data-type="bindPhone">
	<div class="pop-ups-name-title cf">
		<span class="fl">绑定手机号</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="请输入手机号" />
	<div class="pop-ups-phone-input cf">
		<input class="pop-ups-phone-code fl" type="text" value="" placeholder="请输入验证码" />
		<span class="getcode fr">获取验证码</span>

	</div>
	<div class="phone-footer">
		<div class="pop-ups-phone-btn cf">
			<div class="phone-button leftColor fl phone_sub">确认</div>
			<div class="phone-button rightColor fr close">取消</div>
		</div>
	</div>
</div>
<!-- 绑定邮箱弹出层 -->
<div class="pop-ups-phone aletr-model"  data-type="bindEmail">
	<div class="pop-ups-name-title cf">
		<span class="fl">绑定邮箱</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="请输入邮箱地址"/>
	<div class="pop-ups-phone-input cf">
		<input class="pop-ups-phone-code fl" type="text" value="" placeholder="请输入验证码" />
		<span class="getcode fr">获取验证码</span>
	</div>
	<div class="phone-footer">
		<div class="pop-ups-phone-btn cf">
			<div class="phone-button leftColor fl">确认</div>
			<div class="phone-button rightColor fr">取消</div>
		</div>
	</div>
</div>

<!-- 更改绑定手机弹出层 -->
<div class="pop-ups-phone aletr-model" data-type="setPhone">
	<div class="pop-ups-name-title cf">
		<span class="fl">更改绑定手机号</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="请输入手机号" id="phone_tc"/>
	<div class="pop-ups-phone-input cf">
		<input class="pop-ups-phone-code fl" type="text" value="" placeholder="请输入验证码" id="code_tc"/>
		<!--<span class="getcode fr">获取验证码</span>-->
		<input type="button" value="获取验证码"  class="phone-msg sjgetcode ddgetcode getcode fr" id="sjgetcode_tc" />
	</div>
	<div class="phone-footer">
		<div class="pop-ups-phone-btn cf">
			<div class="phone-button leftColor fl phone_sub">确认</div>
			<div class="phone-button rightColor fr close_parent">取消</div>
		</div>
	</div>
</div>
<!-- 更改绑定邮箱弹出层 -->
<div data-type="setEmail" class="pop-ups-phone aletr-model">
	<div class="pop-ups-name-title cf">
		<span class="fl">更改绑定邮箱</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="请输入邮箱地址" id="email_tc"/>
	<div class="pop-ups-phone-input cf">
		<input class="pop-ups-phone-code fl" type="text" value="" placeholder="请输入验证码" id="emailcode_tc"/>
		<input type="button" value="获取验证码"  class="phone-msg sjgetcode ddgetcode getcode fr" id="sjgetemailcode_tc" />
	</div>
	<div class="phone-footer">
		<div class="pop-ups-phone-btn cf">
			<div class="phone-button leftColor fl email_sub">确认</div>
			<div class="phone-button rightColor fr close_parent">取消</div>
		</div>
	</div>
</div>
<!-- 未提交有效卡卷弹出层 -->
<div data-type="card1" class="pop-ups-card aletr-model">
	<div class="pop-ups-name-title cf">
		<span class="fl">系统提示</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<img src="__HOME__/images/wu.png" class="card1-img" >
	<div class="card1-font">没有提交有效的卡券！</div>
	<div class="pop-ups-phone-btn card1-footer cf">
		<div class="phone-button leftColor fl close">确认</div>
		<div class="phone-button rightColor fr close">取消</div>
	</div>
</div>
<!-- 问题卡卷弹窗 -->
<div data-type="card2" class="pop-ups-card aletr-model">
	<div class="pop-ups-name-title cf">
		<span class="fl">系统提示</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<img src="__HOME__/images/tixing.png" class="card2-img" >
	<div class="card2-font" id="card2-font">共1张，发现1张问题卡券</div>
	<div class="card2-text ">【确定】强制提交</div>
	<div class="card2-text ">【取消】返回修改</div>
	<div class="pop-ups-phone-btn card2-footer cf">
		<div class="phone-button leftColor fl recoverycards">确认</div>
		<div class="phone-button rightColor fr close">取消</div>
	</div>
</div>

<!-- 设置支付宝弹出层 -->
<div class="pop-ups-name aletr-model"  data-type="alipay">
	<div class="pop-ups-name-title cf">
		<span class="fl">添加支付宝账户</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="请输入支付宝账号" id="alipay"/>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="支付宝预留真实姓名" id="alipay_name"/>
	<div class="pop-ups-name-btn editalipay">提交</div>
</div>
<!-- 设置银行卡弹出层 -->
<div class="pop-ups-name aletr-model"  data-type="wechat" style="height:503px">
	<div class="pop-ups-name-title cf">
		<span class="fl">添加银行卡</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="请输入银行卡号"  id="tjbankcardnum"/>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="请输入开户行"  id="bankname"/>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="请输入姓名" id="bkusername"/>
	<input class="pop-ups-phone-content" type="text" value="" placeholder="请输入预留手机" id="bankphone"/>
	<div class="pop-ups-name-btn editbankcardnum" data-id="2">提交</div>
</div>

<!-- 未实名认证弹出层 -->
<div data-type="no-permission" class="pop-ups-card aletr-model">
	<div class="pop-ups-name-title cf">
		<span class="fl">系统提示</span>
		<img class="fr close" src="__HOME__/images/close.png" >
	</div>
	<img src="__HOME__/images/wu.png" class="card1-img" >
	<div class="card1-font">请先实名认证！</div>
	<div class="pop-ups-phone-btn card1-footer cf">
		<div class="phone-button leftColor fl close">确认</div>
		<div class="phone-button rightColor fr close">取消</div>
	</div>
</div>
<div id="fullbg"></div>




</body>
<script src="__HOME__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="__HOME__/js/user.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="/Public/layer/layer.js"></script>
<script type="text/javascript">
    $(".loginout").click(function(){
        layer.confirm("您确定要退出登录吗?", {btn: ['确定', '取消'], title: "提示"}, function (){
            window.location.href="{:U('Home/Public/logout')}";
        });
    });
    function topTo(){
        document.getElementById('iframe-page-content').scrollIntoView();
    }
	var is_login="{$is_login}";
	if(is_login!='' && is_login==3){
        layer.open({
            type: 2,
            title: false,
            area: ['680px', '470px'],

            shade: 0.8,
            shadeClose: true, //close
            content: ['{:U("Home/Public/loginbox?type=2")}', 'no'],

        });
	}
    /*手机跳转*/
    var goback = '';
    $('#iframe-page-content')[0].onload = function() {
        if (typeof goback === 'function') {
            goback();
            goback = '';
        }
    }
    function goPhone() {
        goback = function() {
            $('#iframe-page-content')[0].contentWindow.$('.data-nav-font').eq(3).click();
        }
        var p_address ="{:U('User/data')}";
        $('.user-sub-nav-floor').removeClass("nav-select");
        $('.floor-phone').addClass("nav-select");
        $("#iframe-page-content").attr("src", p_address);
    }






</script>
<script type="text/javascript">
    $('.content-right-box,.user-right-help').on('mouseover',function(){
        $('.dropDown-help').show();
    });

    $('.content-right-box,.user-right-help').on('mouseout',function(){

        $('.dropDown-help').hide()
    });
    var timeIframe;
    // 		window.onload = function() {
    // 			timeIframe = setTimeout(GetIframeStatus, 10);
    // 		}

    $(document).ready(function() {
        timeIframe = setTimeout(GetIframeStatus, 10);
    });

    function GetIframeStatus() {
        var iframe = document.getElementById("iframe-page-content");
        var iframeWindow = iframe.contentWindow;
        //内容是否加载完
        if (iframeWindow.document.readyState == "complete") {
            var iframeWidth, iframeHeight;
            //获取Iframe的内容实际宽度
            iframeWidth = iframeWindow.document.body.scrollWidth;
            //获取Iframe的内容实际高度
            iframeHeight = iframeWindow.document.body.scrollHeight;

			var minHeight = $('.user-content')[0].offsetHeight - 30;

			iframeHeight = minHeight>=iframeHeight?minHeight:iframeHeight+400;

            //设置Iframe的宽度
            // iframe.width = iframeWidth;
            //设置Iframe的高度
            iframe.height = iframeHeight;
        } else {
            timeIframe = setTimeout(GetIframeStatus, 10);
        }
    }
    $(document).ready(function(){
        $('.user-right-name').hover(function(){
            $('.login-drop').show();
        },function(){
            $('.login-drop').hide();
        })
    })
	//获取iframe的可视高度
	function getHeightWidth(){
       var height= $("#iframe-page-content").height();
       var width= $("#iframe-page-content").width();
	}
</script>

</html>
