<extend name="Base/user_no"/>
<block name="title">
	<title>百分百收卡网_礼品卡兑换_一家专注二手礼品卡回收的网站 - www.ohbbs.cn 欧皇源码论坛 </title>
</block>
<block name="style">
	<link rel="stylesheet" type="text/css" href="__HOME__/css/statistics.css"/>
</block>
<block name="content">
		<div class="statistics">
			<div class="record-title">
				<span class="record-title-font">我的统计</span>
			</div>
			<div class="record-date">
				<span class="record-date-font">日期筛选</span>
				<input class="record-date-input" type="text" />
				<span class="record-date-interval">-</span>
				<input class="record-date-input" type="text" />
				<div class="record-date-button">查询</div>
				<span class="record-date-day">今天</span>
				<span class="record-date-day">最近7天</span>
				<span class="record-date-day">1个月</span>
				<span class="record-date-day">2个月</span>
				<span class="record-date-day">3个月</span>
				<span class="record-date-day">1年</span>
			</div>
			
			<div class="statistics-content">
				<img src="__HOME__/images/kong.png" >
				<div class="content-text">抱歉，没有找到任何相关的数据！</div>
			</div>
		</div>
</block>
<block name="script">
	<script src="__HOME__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HOME__/js/dataInfo.js" type="text/javascript" charset="utf-8"></script>
</block>
