<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <title>首页 - www.ohbbs.cn 欧皇源码论坛 </title>
    <link rel="stylesheet" href="__HOME__/css/base.css">
    <link rel="stylesheet" href="__HOME__/css/login.css">
</head>
<body>

<!--忘记密码 密码-->
<div class="bkdrop wjmm">
    <div class="form-box">
        <div class="title">忘记密码</div>
        <form class="inp-group">
            <div class="inbox">
                <div class="inp-row cf">
                    <input type="text" placeholder="请输入手机号">
                </div>
                <div class="inp-row cf">
                    <input class="getcode fl" type="text" placeholder="请输入验证码">
                    <span class="fl">已发送三十秒</span>
                </div>
                <div class="inp-row cf">
                    <input type="text" placeholder="请输入新密码">
                </div>
                <div class="inp-row cf">
                    <input type="text" placeholder="请再次输入新密码">
                </div>
            </div>
        </form>
        <div class="btn-list">
            <div class="list-inbox cf">
                <button class="confirm sel-btn fl">确定</button>
                <button class="close sel-btn fl">取消</button>
            </div>
        </div>
    </div>
</div>
   
    <div class="bkdrop">
        <div class="form-box">
            <div class="title">账号登录</div>
            <div class="inp-group">
                <div class="inp-row">
                    <input type="text" name="" id="phone" placeholder="请输入手机号">
                </div>
                <div class="inp-row">
                    <input type="password" name="" id="password" placeholder="请输入密码">
                </div>
                <a href="#" class="lg-link">忘记密码</a>
                <button class="btn" id="login">登录</button>
            </div>
            <div class="other-way">
                <div class="link-list cf">
                    <a class="fl" href="#">
                        <img src="__HOME__/images/otherway.png" alt="">
                    </a>
                    <a class="fl" href="#">
                        <img src="__HOME__/images/otherway2.png" alt="">
                    </a>
                </div>
                <a href="#" class="reg">没有账号?免费注册></a>
            </div>
        </div>
    </div>
</body>
<script src="__HOME__/js/jquery-3.1.1.min.js"></script>
<script>
    $('#login').click(function () {
        phone = $('#phone').val();
        password = $('#password').val();
        url = "{:U('Home/User/login')}";
        $.ajax({
            type:'post',
            url:url,
            data:{'phone':phone,'password':password},
            success:function (data) {
                console.log(data);
                if(data.status==0){
                    alert(data.info);
                    return false;
                }else {
                    parent.location.reload(); // 父页面刷新
                    var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
                    parent.layer.close(index);
                }


            }
        })

    })
</script>


</html>