<extend name="Public/base"/>

<block name="body">
<webuploadercss />
    <div class="tw-layout">
    	<div class="tw-list-hd">
            {:isset($info['id'])?'Edit':'Add'}{:L('网点')}
        </div>

	    <div class="tw-list-wrap tw-edit-wrap">
            <form action="__SELF__" method="post" class="form-horizontal ajaxForm" onsubmit="return dosubmit()">
                <div class="tw-list-wrap tw-edit-wrap">
                <table class="wf-form-table" >
                    <colgroup>
                        <col width="15%">
                        <col width="35%">
                        <col width="15%">
                        <col width="35%">
                        <col width="35%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <th><em>*</em>{:L('网点名称')}:</th>
                            <td>
                                <input type="text" class="text input-5x" name="name" value="{$info.name}" placeholder="{:L('网点名称')}" >
                            </td>

                        </tr>


                        <tr>

                            <th><em>*</em>{:L('地址')}:</th>
                            <td>
                                <input type="text" id="address" class="text input-5x" name="address" value="{$info['address']}" placeholder="{:L('详细地址')}" >
                            </td>


                        </tr>
                        <tr>
                            <th>{:L('网点座机')}:</th>
                            <td>
                                <input type="text" class="text input-5x" name="tel" value="{$info.tel}" placeholder="{:L('网点电话')}">
                            </td>
                        </tr>
                        <tr>
                            <th>{:L('网点手机号')}:</th>
                            <td>
                                <input type="text" class="text input-5x" name="phone" value="{$info.phone}" placeholder="{:L('网点手机号')}">
                            </td>
                        </tr>
                        <tr>
                            <th><em>*</em>{:L('区域')}:</th>
                            <td>
                               <!--  <input type="text" class="text input-5x" name="country" value="{$info['country']}" placeholder="所在国家"> -->

                                <div class="controls">
                                    <select name="level1" style="width:100px; height: 30px; " id="province" >

                                    </select>
                                    <select name="level2" style="width:100px; height: 30px; " id="city">
                                    </select>
                                    <select name="level3" style="width:100px; height: 30px; " id="country">
                                    </select>
                                </div>


                            </td>

                        </tr>



                        <tr>
                            <th>{:L('排序')}:</th>
                            <td>
                                <input type="text" class="text input-5x" name="sort" value="{$info.sort}" placeholder="{:L('排序')}">
                            </td>
                        </tr>






                    </tbody>
                </table>
                </div>
                <div class="tw-tool-bar-bot">
                    <button type="submit"  class="tw-act-btn-confirm"  >{:L('提交')}</button>
                    <button type="button" onclick="goback()" class="tw-act-btn-cancel">{:L('返回')}</button>
                </div>



                    <input type="hidden" name="id" value="{$info.id|default=''}"/>
                </form>
	    </div>
    </div>
</block>

<block name="script">
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ajaxupload.js"></script>
    <script type="text/javascript" charset="utf-8" src="__COMMON__/js/imgupload.js"></script>
    <script>
     var isCommitted = false;//表单是否已经提交标识，默认为false
          function dosubmit(){
              if(isCommitted==false){
                 isCommitted = true;//提交表单后，将表单是否已经提交标识设置为true
                 return true;//返回true让表单正常提交
            }else{
                 return false;//返回false那么表单将不提交
            }
         }
     /*  $("form").submit(function(){  
    $(":submit",this).attr("disabled","disabled");  
    });  */
/*   $( $(".tw-act-btn-confirm").click(
  $(".tw-act-btn-confirm").attr("disabled", "disabled"); 
setTimeout( $(".tw-act-btn-confirm").removeAttr("disabled"); ,3000);  

   );*/
/*function  disabledform(){
  this.disabled=true; 
   

}*/
    //表单提交
     /* $(document)
        .ajaxStart(function(){
          $("button:submit").addClass("log-in").attr("disabled", true);
        })
        .ajaxStop(function(){
          $("button:submit").removeClass("log-in").attr("disabled", false);
        });*/

    var _TARGET_URL='{:U("Admin/Network/index")}';
        UE.getEditor('UE',{
            autoHeightEnabled: false,
            initialFrameWidth: '800',
            initialFrameHeight: 450
        });

      $(function() {
        

          var isPCCEdit = {:isset($info['id'])?1:0};
          selectProvince();
          $('#province').bind("change", selectCity);
          $('#city').bind("change", selectCountry);
          //定义省市县
          var province="{$info.level1}";
          var city="{$info.level2}";
          var country="{$info.level3}";
          //获取省级区域
          function selectProvince() {
              $.ajax( {
                  type : "post",
                  url : "{:U('Admin/Network/getState')}",
                  data : {
                      'level':1
                  },
                  success : function(msg) {

                      $("#province").html("<option value=''>{:L('选择地区')}</option>");
                      $("#province").append(msg);
                      if(typeof(isPCCEdit) != "undefined" && isPCCEdit==1){
                          $('#province').val(province);
                      }
                      selectCity();
                  }
              })
          };
          //获取市级区域
          function selectCity() {
              $("#city").html("");

              if($('#province').val()==''){
                  $("#city").html("<option value=''>{:L('选择省')}</option>");
                  selectCountry();
                  return;
              }
              $.ajax( {
                  type : "post",
                  url : "{:U('Admin/Network/getCity')}",
                  data : {
                      "parent_id" : $('#province').val()
                  },
                  success : function(msg) {
                      $("#city").html("<option value=''>{:L('选择省')}</option>");
                      $("#city").append(msg);
                      if(typeof(isPCCEdit) != "undefined" && isPCCEdit==1){
                          $('#city').val(city);
                      }
                      selectCountry();
                  }
              })
          };
          //获取县级区域
          function selectCountry() {
              $("#country").html("");
              if($('#city').val()==''){
                  $("#country").html("<option value=''>{:L('选择市')}</option>");
                  return;
              }
              $.ajax( {
                  type : "post",
                  url : "{:U('Admin/Network/getCountry')}",
                  data : {
                      "parent_id" : $('#city').val()
                  },
                  success : function(msg) {
                      $("#country").html("<option value=''>{:L('选择市')}</option>");
                      $("#country").append(msg);
                      if(typeof(isPCCEdit) != "undefined" && isPCCEdit==1){
                          $('#country').val(country);
                          isPCCEdit=0;
                      }
                  }
              })
          };
      });



    </script>
    <webuploaderjs />
</block>