<extend name="Base/base"/>
<block name="style">
    <link rel="stylesheet" href="__MOBILE__/css/real_name.css">
</block>
<block name="body">
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable" style="overflow-x: hidden;">
        <!--侧滑菜单部分-->
        <include file="Index:left" />
        <!--主界面部分-->
        <div class="mui-inner-wrap">
            <header class="mui-bar mui-bar-nav">
                <a class="mui-action-back mui-icon mui-icon-arrowleft mui-pull-left"  href="javascript:history.back(-1)"></a>
                <h1 class="mui-title">找回登录密码</h1>
                <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></a>
            </header>
            <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll" id="move-togger">
                    <form class="inp-group mui-input-group form">
                        <div class="inp-row mui-input-row phone">
                        <if condition="$user_info['phone'] eq ''">
                            <input type="text" placeholder="请输入手机号或者邮箱" class="mui-input-clear" name="phone" id="mobile" >
                            <else />
                            <input type="button" class="mui-input-clear" name="phone" id="mobile"  value="{$user_info['phone']}">
                            </if>
                        </div>
                        <div class="inp-row cf mui-input-row">
                            <input class="code fl" type="number" placeholder="请输入验证码"  class="mui-input-clear " size="8"  id="zfphonecode" name="card">
                            <a class="getcode fr zphone"  id="zphone"  >获取验证码</a>
                        </div>
                        <div class="inp-row mui-input-row">
                            <input type="password" placeholder="请输入密码" id="npwd" class="mui-input-password form-password"  name="password">
                        </div>
                        <div class="inp-row mui-input-row">
                            <input type="password" placeholder="请再次输入密码" id="verifynpw" class="mui-input-password form-password" name="re_password">
                        </div>





                        <!-- <div class="inp-row mui-input-row">
                            <input type="text" placeholder="请输入手机号" class="mui-input-clear" name="phone" id="mobile">
                        </div>
                        <div class="inp-row">
                            <input type="password" class="mui-input-password form-password" name="password" placeholder="请输入支付密码" >
                        </div> -->
                        <button class="btn reg-btn" type="button" id="submit">确认修改</button>
                    </form>
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
</block>    
<block name="script">
	<script type="text/javascript">
     
 

 $('.zphone').on('tap',function(event){
            $('.zphone').removeClass('zphone');
            var mobile = $('#mobile').val();
            if(mobile == ''){
                mui.toast("请输入手机号！或者邮箱");
                return false;
            }else{

                var filter=/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if(!(mobile.match(/^1[34578]\d{9}$/))&&!(filter.test(mobile))){
                    mui.toast('请输入合法的手机号码或者正确的邮箱');
                    return false;
                }else{
                    
                    var url = "{:U('Public/getfindpwdCode')}";

                    $.ajax({
                        type:'post',
                        url:url,
                        data:{"username":mobile},
                        success:function(data){
                            if(data.status != 1){
                                mui.toast(data.info);
                                $('#zphone').addClass('zphone');
                                return false;
                            }else{
                                mui.toast(data.info);
                                $('#zphone').addClass('zphone');
                                RemainTime();
                                return false;
                            }
                        }
                    })
                }
            }
        });
    //登录密码修改
    $('#submit').click(function(){
            mobile = $('#mobile').val();
            npwd = $('#npwd').val();
            verifynpw = $('#verifynpw').val(); 
            code = $('#zfphonecode').val();


            if(npwd != verifynpw){
                mui.alert('两次密码输入不一致');
                return false;
            }
            if(npwd.length <= 5){
                mui.alert('请输入6位及以上的密码');
                return false;
            }
            if(!npwd || !verifynpw){
                mui.alert('请正确填写密码');
                return false;
            }

            if(!code){
                mui.alert('请先填写验证码');
                return false;
            }else {
                $.ajax({
                    type: 'post',
                    data: {'username':mobile,'password': npwd,'mobile_code':code},
                    url: "{:U('Home/User/findpwd')}",
                    success: function (data) {
                        if(data.status==1){
                            $(".bkdrop").hide();
                            console.log(data);
                            mui.alert('修改成功');
                           window.location.href="{:U('Mobile/User/login')}";
                        }else{
                            console.log(data);
                            mui.alert(data.info);
                        }
                    }
                });
            }
        })

	</script>
</block>	

