<extend name="Base/base"/>
<block name="style">
    <link rel="stylesheet" href="__MOBILE__/css/real_name.css">
</block>
<block name="body">
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable" style="overflow-x: hidden;">
        <!--侧滑菜单部分-->
        <include file="Index:left" />
        <!--主界面部分-->
        <div class="mui-inner-wrap">
            <header class="mui-bar mui-bar-nav">
                <a class="mui-action-back mui-icon mui-icon-arrowleft mui-pull-left"  href="javascript:history.back(-1)"></a>
                <h1 class="mui-title">修改登录密码</h1>
                <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></a>
            </header>
            <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll" id="move-togger">
                    <form class="inp-group mui-input-group form">
                        <div class="inp-row mui-input-row">
                            <input type="password" placeholder="请输入原密码" class="mui-input-clear" id="oldpassword" >
                        </div>
                        <div class="inp-row">
                            <input type="password" class="mui-input-password form-password" id="newpassword" placeholder="请输入新密码" >
                        </div>
                        <div class="inp-row">
                            <input type="password" class="mui-input-password form-password" id="newpasswordagain" placeholder="请再次输入新密码" >
                        </div>
                        <button class="btn reg-btn" id="submit">确认修改</button>
                    </form>
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
</block>    
<block name="script">
	<script type="text/javascript">
    /*    $(function () {
            $('#mobile').change(function () {
                var tel =  $('#mobile').val();
                if(!checkMobile(tel)){
                    mui.toast('请输入正确的手机号!');
                }else{
                    //验证该手机号是否已经注册过
                    $.ajax({
                        type:'post',
                        url: "{:U('Mobile/User/checkPhoneUnique')}",
                        data:{"tel":tel},
                        success:function(data){
                            if(data.status == -2){
                                mui.toast(data.info);
                                $('#mobile').val('');
                                return false;
                            }
                        }
                    })
                }
            });
        });*/
        $('#submit').click(function () {

            oldpa = $('#oldpassword').val();
            newpa = $('#newpassword').val();
            newpaag = $('#newpasswordagain').val();
            if(newpa == oldpa){
                mui.toast('新密码和原密码一样');
                return false;
            }

            if(newpa != newpaag){
                mui.toast('两次密码输入不一致');
                return false;
            }
            if(newpa.length <= 5){
                mui.toast('请输入6位及以上的密码');
                return false;
            }
            if(!newpa || !newpaag){
                mui.toast('请正确填写密码');
                return false;
            }
            console.log(111);
             $.ajax({
                    type: 'post',
                    data: {'oldpa': oldpa,'newpa':newpa},
                    url: "{:U('Mobile/User/editpassword')}",
                    success: function (data) {
                        if(data.status==1){
                            $(".bkdrop").hide();
                             console.log(112);
                            console.log(data);
                            mui.toast('修改成功');
                            window.location.href="{:U('Mobile/User/login')}";
                        }else{
                            console.log(data);
                             console.log(113);
                           mui.toast(data.info);
                           return false;
                        }


                    }
                });
          
      
        });
	</script>
</block>	

