<extend name="Base/base"/>
<block name="style">
    <link rel="stylesheet" href="__MOBILE__/css/real_name.css">
</block>
<block name="body">
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable" style="overflow-x: hidden;">
        <!--侧滑菜单部分-->
        <include file="Index:left" />
        <!--主界面部分-->
        <div class="mui-inner-wrap">
            <header class="mui-bar mui-bar-nav">
                <a class="mui-action-back mui-icon mui-icon-arrowleft mui-pull-left"  href="javascript:history.back(-1)"></a>
                <h1 class="mui-title">申请提现</h1>
                <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></a>
            </header>
            <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
                <div class="mui-scroll" id="move-togger">
                    <form class="inp-group mui-input-group form">
                        <div class="inp-row mui-input-row">
                            <input type="text"  value="{$default_alipay}" placeholder="请输入支付宝帐号" class="mui-input-clear" name="phone"  id="alipay">
                        </div>
                        <div class="inp-row">
                            <input type="text" class="mui-input-password form-password" id="money" name="password" placeholder="请输入提现金额" >
                        </div>
                        <div class="inp-row">
                            <input type="password" class="mui-input-password form-password" id="paypassword" name="password" placeholder="请输入支付密码" >
                        </div>

                        <button type="button" class="btn reg-btn" id="submit">确认</button>
                    </form>
                </div>
            </div>
            <!-- off-canvas backdrop -->
            <div class="mui-off-canvas-backdrop"></div>
        </div>
    </div>
</block>    
<block name="script">
	<script type="text/javascript">

        $('#submit').click(function () {
        	 $('#submit').attr('disabled',"true");

            var hasmoney = {$user_info['balance']};
            money = $('#money').val();
            alipay = $('#alipay').val();
            paypassword =  $('#paypassword').val();
            if(money == ''){
                mui.toast("提现金额不能为空");
                return false;
            }
            if(alipay == ''){
                mui.toast("提现账户不能为空");
                return false;
               }
            if(money == 0){
                mui.toast("提现金额不能为0");
                return false;}
            if(money < 0){
                mui.toast("提现金额不正确");
                return false;}
            if(paypassword == ''){
                mui.toast("提现密码不能为空");
                return false;

            }
            if(money > hasmoney){
                mui.toast("提现金额不能大于账户余额空");
                return false;
          }
            if(money != '' && alipay != '') {
                $.ajax({
                    type: 'post',
                    data: {'money': money, 'alipay': alipay, 'paypassword': paypassword},
                    url: "{:U('Mobile/User/withcash')}",
                    success: function (data) {
                        if (data.status == 1) {

                            console.log(data);
                            mui.toast('申请成功');
                            window.location.href = "{:U('Mobile/User/index')}";
                        } else {
                            console.log(data);
                            mui.toast(data.info);
                            $('#submit').removeAttr("disabled"); 
                        }


                    }
                });
            }


        });
	</script>
</block>

