<extend name="Base/user_no"/>
<block name="style">
	<meta name="keywords" content="京东E卡 京东钢蹦 中国石化加油充值卡 中国石油加油充值卡 移动电信联通话费充值卡亚马逊礼品卡回收
">
	<meta name="description" content="爱卡网是一家提供电商超市、加油、旅游等礼品充值购物卡回收，收购，买卖的交易平台，我们努力做好礼品购物卡买卖的交易服务。">
	<link rel="stylesheet" type="text/css" href="__HOME__/css/base1.css"/>
	<link rel="stylesheet" type="text/css" href="__HOME__/css/data.css"/>
</block>
<block name="content">
		<div class="data">
			<div class="data-nav cf">
				<div class="data-nav-font <if condition='$type eq 1'>data-nav-border</if> fl" data-src = "{:U('DataInfo/index')}" >基本资料</div>
				<div class="data-nav-font <if condition='$type eq 2'>data-nav-border</if> fl" data-src = "{:U('DataInfo/nameAttest')}">实名认证</div>
				<div class="data-nav-font <if condition='$type eq 3'>data-nav-border </if> fl" data-src = "{:U('DataInfo/password')}">密码管理</div>
				<div class="data-nav-font <if condition='$type eq 4'>data-nav-border </if> fl" data-src = "{:U('DataInfo/phone')}">手机设置</div>
				<div class="data-nav-font <if condition='$type eq 5'>data-nav-border </if> fl" data-src = "{:U('DataInfo/email')}">邮箱设置</div>
				<div class="data-nav-font <if condition='$type eq 6'>data-nav-border </if> fl" data-src = "{:U('DataInfo/withdraw',array('from_action'=>$from_action))}">提现账号</div>
			</div>

			<div class="data-content data-content-iframe">
				<if condition='$type eq 1'>
					<iframe src="{:U('DataInfo/index')}" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
					<elseif condition="$type eq 2" />
					<iframe src="{:U('DataInfo/nameAttest')}" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
					<elseif condition="$type eq 3" />
					<iframe src="{:U('DataInfo/password')}" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
					<elseif condition="$type eq 4" />
					<iframe src="{:U('DataInfo/phone')}" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
					<elseif condition="$type eq 5" />
					<iframe src="{:U('DataInfo/email')}" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
					<elseif condition="$type eq 6" />
					<iframe src="{:U('DataInfo/withdraw',array('bank_type'=>$bank_type,'from_action'=>$from_action))}" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
				</if>
			</div>
		</div>

</block>
<block name="script">
	<script src="__HOME__/js/jquery.js" type="text/javascript" charset="utf-8"></script>
	<script src="__HOME__/js/data.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript">
		window.showModel=function(type){
			return window.parent.showModel(type);
		}

		$(document).ready(function(){
			parent.GetIframeStatus();
		})
	</script>
	<script type="text/javascript">
		var timeIframe;

		$(document).ready(function() {
			timeIframe = setTimeout(GetIframeStatus, 10);
		});

		function GetIframeStatus() {
			var iframe = $(".data-content-iframe iframe")[0];
			var iframeWindow = iframe.contentWindow;
			//内容是否加载完
			if (iframeWindow.document.readyState == "complete") {
				var iframeWidth, iframeHeight;
				//获取Iframe的内容实际宽度
				iframeWidth = iframeWindow.document.body.scrollWidth;
				//获取Iframe的内容实际高度
				iframeHeight = iframeWindow.document.body.scrollHeight


				//设置Iframe的宽度
				// iframe.width = iframeWidth;
				//设置Iframe的高度
				iframe.height = iframeHeight;

				parent.GetIframeStatus&&parent.GetIframeStatus();
			} else {
				timeIframe = setTimeout(GetIframeStatus, 10);
			}
		}
	</script>
</block>
