<extend name="Base/base"/>
<block name="style">
    <link rel="stylesheet" type="text/css" href="__MOBILE__/css/want_sell.css" />
    <link href="__MOBILE__/css/mui.picker.css" rel="stylesheet" />
    <link href="__MOBILE__/css/mui.poppicker.css" rel="stylesheet" />
<style type="text/css">
     .btn-primary{
        display: inline-block;    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;user-select: none;
    color: #018ebb;
    border: 2px solid transparent;
    background-color: #e8f0f3;
    border-radius: 3px;
    -webkit-transition: .3s;
    transition: .3s;height: 30px;
    line-height: 30px;
    padding: 0 4px;
    font-size: 13px;    color: #fff;
    border-color: #ff6466;
    background-color: #ff6466;margin-right: 5px
    }
</style>
    <!--<script src="../js/mui.picker.min.js"></script>-->
    <script src="__MOBILE__/js/mui.picker.js"></script>
    <script src="__MOBILE__/js/mui.poppicker.js"></script>

</block>
<block name="body">
    <div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable" style="overflow-x: hidden;">
        <!--侧滑菜单部分-->
        <include file="Index:left" />
        <!--主界面部分-->


    <!--主界面部分-->
    <div class="mui-inner-wrap">
        <header class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"  href="javascript:history.back(-1)"></a>
            <h1 class="mui-title">我要卖卡</h1>
            <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></a>
        </header>
        <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll" id="move-togger">
                <div class="type-list" style="padding: 0;text-align: center;" >
                    <div class="type-item" id="choose-single" >单卡提交</div>
                    <div class="type-item on" id="choose-batch">多卡提交</div>
                </div>
                <div class="inp-group">
                    <a href="#" id='showUserPicker'>
                    <div class="inp-row">
                        <label >请选择卡片</label>
                        <input type="text" name="" id="loanamount">
                        <input type="hidden" name="" id="cardtype">
                    </div>
                        </a>
                    <a href="#" id="showPricePicker" >
                    <div class="inp-row">
                        <label>请选择面额</label>
                        <input type="text" name="" id="dateResult">
                        <input type="hidden" name="" id="pricetype">
                    </div>
                        </a>
                    <div class="inp-row" id="choose_batch">
                        <textarea placeholder='每张卡密为一行，卡号与密码之间请用"空格"隔开!' id="cardlist"></textarea>
                    </div>
                    <div id="choose_single" style="display: none">
                    <div class="inp-row" id="single_passwordcss" >
                        <label>请输入卡号</label>
                        <input type="text" name="" id="single_card">
                   
                    </div>
                    <div class="inp-row" >
                      
                        <label>请输入卡密</label>
                        <input type="text" name="" id="single_password">
                    </div>
                    </div>
                    <div class="inp-row urgent-item on">
                        <div class="sel-box cf ">
                            <span class="fl urgent-sel sel" style="display: none">
                                <img src="__MOBILE__/images/selicon.png" alt="">
                                <!--<input type="checkbox" name="urgent" id="urgent" value="1">-->
                            </span>

                            <p class="fl urgent" >
                                加急处理（9：00-18:00） <span class="sel" style="display: none">手续费3%</span>
                            </p>

                            <input type="hidden" name="express" id="express" value="0">
                        </div>
                    </div>
              

                     <div class="inp-row">
                         <div class="sel-box cf">
                            <span class="fl  protocol-sel">
                                <img src="__MOBILE__/images/selicon.png" alt="">
                            </span>
                           <p class="fl  protocol">
                                已阅读并接受 <a href="{:U('Mobile/Help/card?id=10')}">「速鸟卡券网卡券转让协议」</a>
                            </p>
                        </div>
                    </div>


                          <div class="inp-row" id="zhengli">
                         <div class="sel-box cf">
                            <span class="fl  protocol-sel">
                               
                            </span>
                           <p class="fl  protocol">
                                 <a class=" btn-sm btn-primary cardlist-neaten" id="cardlist-neaten" href="javascript:;" >整理卡密</a><span class="inline-block pl20">已经输入 <strong id="cardnum" class="text-red">0</strong> 张面值 <strong class="text-red"><strong id="cardmz">0</strong>元</strong> 的卡，每次最多可提交100张 </span>
                            </p>
                        </div>
                    </div>
                </div>
                <button class="btn" id="recoverycard">立即兑换</button>
                <div class="other">
                    <div class="panel onecard stepflow"><div class="caption"><h4>线上回收交易步骤</h4></div><div class="stepflow-item stepflow-netrade" style="font-size: 14px"><ul><li>1、注册帐号，登录帐户；</li><li>2、提交卡密，等待验卡；</li><li>3、验卡成功，资金到帐；</li><li></li><li>4、帐户提现，交易成功。</li></ul><div class="hint hint-danger" ><p>工作时间内提交（周一至周日早上9：30-20：30），</p><p>一般5分钟内处理完成，</p> <p>非工作时间内，处理时间将延期到下一个工作时间。</p><p>客服电话：<strong class="text-red">0771-6730212</strong></p></div></div></div>
                </div>

<div class="other">

    <div class="panel onecard">
        <div class="caption">
        <h4>二手卡回收常见问题</h4>
        </div>
        <div class="faq-group">
            <div class="faq-item">
            <h5 class="faq-tite"><strong>1、</strong>支持回收的二手卡有哪些？</h5>
            <div class="faq-cont">
            <p class="text-danger"><strong>速鸟卡券网暂时只针对网站公布回收的二手卡进行回收处理，目前支持回收的卡有20种；</strong></p>
            <p>目前包括电商卡、游戏卡、话费卡3种。</p>
            <p>您可在二手卡回收提交页面查看，如果没有您想要提交的卡，您可以联系客服。</p><p>后期我们会会逐步的发布更多的卡类回收，详情请参考网站公示。</p></div></div>
            <div class="faq-item">
            <h5 class="faq-tite text-danger"><strong>2、</strong>游戏卡与话费卡必看问题！</h5><div class="faq-cont"><p>游戏卡为自动结算形式回收，用户提交订单后最快几分钟内即可收到回收款。</p><p class="text-danger"><strong>请提交前认真核对选择的面额，如实际面额与选择面额不符，则需要人工干预，不仅费时费力，而且会影响您的款额到帐时间！</strong></p></div></div>
            <div class="faq-item">
            <h5 class="faq-tite"><strong>3、</strong>哪些二手卡券不支持回收？</h5><div class="faq-cont"><p>凡是已使用的卡、偷盗卡、非正常渠道获得的卡以及网站上没有的卡种我们都不回收。</p></div></div>
            <div class="faq-item">
            <h5 class="faq-tite"><strong>4、</strong>回收后打款需要多少时间？</h5><div class="faq-cont"><p>工作时间内（周一至周日早上9：30-20：30）打款为提现之后即时到账；非工作时间内，处理时间将延期到下一个工作时间。</p></div></div>
            <div class="faq-item">
            <h5 class="faq-tite"><strong>5、</strong>二手卡的回收需要手续费么？</h5><div class="faq-cont"><p>您好，回收价格已经包含手续费，不会再收取任何形式的手续费（除了加急处理功能）。</p></div></div>
            <div class="faq-item">
            <h5 class="faq-tite"><strong>6、</strong>电子卡与实体卡有什么区别？</h5><div class="faq-cont"><p>实体卡是实物的，是一张卡片的形式，卡的背面有卡号和密码；</p><p>电子卡是虚拟的，是通过网上在线购买获取卡号和密码的；</p><p>实体卡和电子卡在我们这回收的时候都是一样的。</p></div></div>
            <div class="faq-item">
            <h5 class="faq-tite"><strong>7、</strong>关于速鸟卡券网的其他问题?</h5><div class="faq-cont"><p>如若您有其他任何关于二手卡回收问题，您可以咨询在线客服QQ或者拨打速鸟卡券网客服电话：0771-6730212。</p></div></div>
        </div>
    </div> </div>


                <div class="other" style="margin-bottom: 20px">
                <if condition="$invoice eq '1'">
                   <img src="__MOBILE__/images/piaoicon.png" alt="">
                    如您的企业有票务需求，请点击<br>
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=76891828&site=qq&menu=yes"><button  class="tel-me">联系我们</button></a>

                    </if>
                </div>
            </div>
        </div>
        <!-- off-canvas backdrop -->
        <div class="mui-off-canvas-backdrop"></div>
        <input type="hidden" name="type" id="type" value="1">
        <input type="hidden" name="custom" id="custom" value="0">
    </div>
</div>
    <script>

mui('body').on('tap', 'a', function () { document.location.href = this.href; });
 

        var $idArray=eval({$cardinfo});

        console.log($idArray);
         console.log(432432453);
       // $idArray = $bbb.split(",");
        var len = $idArray.length;

        var $ddd=new Array();
        for (var i = 0; i < len; i++){
            $aa = $idArray[i]['id'] + '-' +$idArray[i]['openpassword'];
            $ddd[i] = {
                value: $aa,
                text: $idArray[i]['name']
            };
        }
        console.log($aa);




     /*   var $loandate = "{$loanInfo['loanterm']}";
        $loanterm =$loandate.split(",");
        var lens = $loanterm.length;
        var $loanarray=new Array();
        for (var i = 0; i < lens; i++){
            $loanarray[i] = {
                value: $loanterm[i],
                text: $loanterm[i]
            };
        }*/
        (function($, doc) {
            $.init({
                swipeBack: true //启用右滑关闭功能
            });
            $.ready(function() {
                //普通示例
                var userPicker = new $.PopPicker();
                var datePicker = new  $.PopPicker();
                userPicker.setData($ddd);
                var showUserPickerButton = doc.getElementById('showUserPicker');
                var dateResult = doc.getElementById('dateResult');
                var loanamount = doc.getElementById('loanamount');
                var custom = doc.getElementById('custom');
                var cardtype = doc.getElementById('cardtype');
                var single_password = doc.getElementById('single_passwordcss');
                showUserPickerButton.addEventListener('tap', function(event) {
                    userPicker.show(function(items) {
                        console.log(JSON.stringify(items[0]));
                        loanamount.value = items[0]['text'];
                        $ss= items[0]['value'];
                        $ssarr = $ss.split("-");
                        $id =  $ssarr[0];
                        if($ssarr[1] == 0){
                            single_password.setAttribute('style', 'display: none');  
                        }else{
                             single_password.setAttribute('style', 'display: flex');  
                        }
                        cardtype.value = $id;
                        dateResult.value = '';
                        console.log($id);
                        $.ajax({
                            type: 'post',
                            data: {'id': $id},
                            url: "{:U('Mobile/Card/cardprices')}",
                            success: function (data) {
                                if (data.status == 1) {
                                    $loanterm = eval(data.data);
                                     console.log(data);
                                    console.log($loanterm);
                                    var lens = $loanterm.length;
                                    var $loanarray=new Array();
                                    for (var i = 0; i < lens; i++){
                                        $loanarray[i] = {
                                            value: $loanterm[i]['id'],
                                            text: '¥'+$loanterm[i]['price']+'/¥'+$loanterm[i]['sale_price']+'(回收价)'
                                        };
                                    }
                                    $loanarray[lens] = {
                                        value: "custom",
                                        text: '自定义面额'+' '+data['info']+'折'
                                    };
                                    datePicker.setData($loanarray);
                                    var showDatePickerButton = doc.getElementById('showPricePicker');
                                    var pricetype = doc.getElementById('pricetype');
                                    showDatePickerButton.addEventListener('tap', function(event) {
                                        datePicker.show(function(items) {
                                            console.log(JSON.stringify(items[0]));
                                            console.log(items[0]['text']);
                                            if(items[0]['value'] == "custom"){
                                                 var btnArray = ['取消', '确定'];
                                             mui.prompt('请输入卡片面额：', '', 'SUNIAOVIP', btnArray, function(e) {
                                                    if (e.index == 1) {
                                                         dateResult.value = e.value;
                                                        custom.value = e.value;
                                                          pricetype.value = 'zdy';
                                                       // info.innerText = '谢谢你的评语：' + e.value;
                                                    } else {
                                                        info.innerText = '你点了取消按钮';
                                                    }
                                                })
                                                /*var card_price;
                                                card_price=mui.prompt("请输入卡片面额");
                                                console.log(card_price);*/
                                                /*dateResult.value = card_price;
                                                custom.value = card_price;
                                                pricetype.value = 'zdy';*/
                                            }else{

                                                 str  = items[0]['text'];
                                                 arr=str.split("¥"); 
                                                         dateResult.value = "¥"+arr[1]+"¥"+arr[2];
                                                //dateResult.value = items[0]['text'];
                                                $pid= items[0]['value'];
                                                pricetype.value = $pid;
                                            }
                                        });
                                    }, false);
                                    console.log(data.data);


                                } else {
                                    console.log(data);

                                }


                            }
                        });

                        // showUserPickerButton.val = JSON.stringify(items[0]);
                        /* $url ="{:U('Index/loanSon')}";
                         $url+="/tid/";
                         $url+=$id;*/
                        //backmoney();
                        //  window.location.href=$url;
                        //返回 false 可以阻止选择框的关闭
                        //return false;
                    });
                }, false);

//-------------------------------------------------------------
            /*    var datePicker = new  $.PopPicker();
                datePicker.setData($loanarray);
                var showDatePickerButton = doc.getElementById('showDatePicker');
                var dateResult = doc.getElementById('dateResult');
                showDatePickerButton.addEventListener('tap', function(event) {
                    datePicker.show(function(items) {
                        dateResult.innerText = items[0]['value'];


                    });
                }, false);*/



            });
        })(mui, document);
        mui('#offCanvasSideScroll').scroll();
        mui('#offCanvasContentScroll').scroll();

        $(".type-item").on('tap',function () {
            $(".type-item").removeClass('on');
            $(this).addClass('on');
           // $(".way-item .sel").remove();
            //$(this).append(str);
            var _this = $(this);
            if (_this.attr('id') == "choose-batch" ) {

                $('#choose_single').hide();
                $('#zhengli').show();
                $('#choose_batch').show();
                $('#type').val(1);

            } else if (_this.attr('id') == "choose-single" ) {

                $('#choose_batch').hide();
                $('#zhengli').hide();
                $('#choose_single').show();
                $('#type').val(2);
            }
        });



        $("#recoverycard").on('tap',function () {
            $priceid = $('#pricetype').val();
            $cardid = $('#cardtype').val();
            $submissionid = $("#type").val();
            $express = $('#express').val();
            $custom = $('#custom').val();
            if($cardid == ''){
                mui.toast('请选择卡片');
                return false;
            }    
            if( $priceid == ''){
                mui.toast('请选择价格');
                return false;
            }  
            if($submissionid == 2){
                $cardkeynum = $("#single_card").val();
                $cardkeypwd = $("#single_password").val();
                if($cardkeynum && $cardkeypwd){
                     $cardkey = $cardkeynum+" "+$cardkeypwd;
                }else if($cardkeypwd){
                    $cardkey = $cardkeypwd;
                }

               



            }else if($submissionid == 1){
                $cardkey = $("#cardlist").val();

            }

            console.log($submissionid);
            $.ajax({
                type: 'post',
                data: {'submission': $submissionid,'cardkey':$cardkey,'cardid':$cardid,'priceid':$priceid,'custom':$custom,'express':$express},
                url: "{:U('Mobile/Card/recoverycard')}",
                success: function (data) {
                    if(data.status==1){
                       // alert('提交成功，请勿重复提交');
                        console.log(data);
                        mui.toast('提交成功，请勿重复提交');
                       window.location.href = "{:U('Mobile/User/index')}";

                    }else if(data.status==3){
                        mui.toast(data.info);
                        window.location.href = "{:U('Mobile/User/login')}";
                        console.log(data.info);
                    }else{
                        mui.toast(data.info);
                    }


                }
            });


        });

        $(".urgent-item").on('tap',function () {
            $(".urgent-item .sel").toggle();
            if($(this).hasClass('on')){
                $(this).removeClass("on");

                $('#express').val('0');
            }else {

                $(this).addClass("on");
                $('#express').val('1');
            }
        })


$('#qqwap').on('tap',function () {
        window.location.href = "http://wpa.qq.com/msgrd?v=3&uin=76891828&site=qq&menu=yes";
    });





//整理卡片功能
    function uptijiao(cardList) {
    var strList_Tmp = '';
    var array = new Array(cardList.length);
    for (var i = 0; i < cardList.length; i++) {
        if (cardList[i]) {
            var cardInfo = (cardList[i]
                .replace(/卡号[：|:]/g, '')
                .replace(/密码[：|:]/g, '')
                .replace(/卡密[：|:]/g, '')
                .replace(/[\u4e00-\u9fa5]+/g, '')
                .replace(/\s+/g, ' ')
                .replace(/(^\s*)|(\s*$)|;|；/g, "")
                .replace(/,/g, '*')
                .replace(/[ ]/g, '*')
                .replace(/，/g, '*')
                .replace(/\t/g, '*')
                .replace(/[|]/g, '*'))
                .split('*');
            if (cardInfo[0] != "") {
                array[i] = cardInfo[0];
            }
            if (cardInfo[1] == undefined) {
                strList_Tmp += cardInfo[0] + "\n";
            } else {
                strList_Tmp += cardInfo[0] + " " + cardInfo[1] + "\n";
            }
        }
    }
    return strList_Tmp.replace(/(^\s*)|(\s*$)/g, "");
};


$("#cardlist-neaten").on('tap',function () {
    var neaten = $("#cardlist").val().split('\n');
    $("#cardlist").val(uptijiao(neaten));
});

function cardnum(obj, e) {
    var strs = $(obj).val();
    if (e == 'blur') {
        strs = strs.replace("\r\n", "\n");
        strs = strs.split("\n");
        $("#cardnum").text(strs.length);
    } else {
        var keycode = e.keyCode;
        strs = strs.replace("\r\n", "\n");
        if (keycode == 13 || keycode == 86) {
            strs = strs.split("\n");
            $("#cardnum").text(strs.length);
        }
    }
};

function pselect(price) {
        $('#cardmz').text(price);
}
    </script>

</block>