
<header class="header">
    <div class="header-content">
        <div class="header-content-logo col-xs-4">
            <div class="header-content-logo-ico col-xs-3">
                <a href="index.html"><img src="__HOME__/images/logo.png" /></a>
            </div>
            <div class="header-content-logo-title col-xs-9">
                <h2>{:C('WEB_TITLE_CN')}</h2>
                <p>{:C('WEB_TITLE_EN')}</p>
            </div>
        </div>
        <div class="header-content-tel col-xs-5">
            <div class="header-content-tel-rx col-xs-5">
                <p class="header-content-tel-rx-title">全国统一客服热线</p>
                <p class="header-content-tel-rx-time">工作日：{:C('WORK_DAY')}</p>
            </div>

            <div class="header-content-tel-tel col-xs-7">
                <img src="__HOME__/images/phone.png" />
                <span>{:C('WEB_TEL')}</span>
            </div>
        </div>
        <ul class="header-nav col-xs-8">
            <li class="header-nav-first on ">
                <a  href="{:U('Home/Index/index')}">首页</a>
            </li>
            <li class="header-nav-service">
                <a href="{:U('Home/Service/index')}">产品服务</a>
            </li>
            <li class="header-nav-teach">
                <a href="{:U('Home/Eduction/index')}">教学专区</a>
            </li>
            <li class="header-nav-article">
                <a href="{:U('Home/Article/index')}">咨询平台</a>
            </li>
            <li class="header-nav-about">
                <a href="{:U('Home/About/index')}">关于我们</a>
            </li>
        </ul>
    </div>
</header>