<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <block name="title"></block>
    <meta name="keywords" content="{:C('KEYWORDS')}">
    <meta name="description" content="{:C('DESCRIPTION')}">
    <!--<link rel="stylesheet" type="text/css" href="__HOME__/css/base.css"/>-->
    <block name="style"></block>
</head>
<body>
    <block name="content"></block>
    <script src="__HOME__/js/jquery.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
<block name="script"></block>
</body>
</html>
