<extend name="Base/base"/>
<block name="style">
	<link rel="stylesheet" type="text/css" href="__MOBILE__/css/sites.css" />
</block>
<block name="body">
<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable" style="overflow-x: hidden;">
    <!--侧滑菜单部分-->
	<include file="Index:left" />
    <!--主界面部分-->
    <div class="mui-inner-wrap">
        <header class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-pull-left mui-icon mui-icon-arrowleft"></a>
            <h1 class="mui-title">网点回收</h1>
            <a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></a>
        </header>
        <div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll" id="move-togger">
	            <div class="content-list">
					<volist name="levelInfo1" id="vo">
	              <div class="area">
	              	<div class="area-title">{$vo['name']}</div>
					  <volist name="levelInfo2" id="v">
					  <if condition="$v['parent_id'] eq $vo['id']">
	              		<dl>
							<dt>{$v['name']}</dt>
							<dd>
								<volist name="levelInfo3" id="h">
									<if condition="$h['parent_id'] eq $v['id']">
										<a href="{:U('Mobile/Exchange/sitesdetail',array('sitesid'=>$h['id']))}"><li onclick="" class="city" >{$h['name']}</li></a>
									</if>
								</volist>
							</dd>
	              		</dl>
					  </if>
					</volist>
	              </div>
					</volist>

	            </div>
        	</div>
        <!-- off-canvas backdrop -->
        <div class="mui-off-canvas-backdrop"></div>
    </div>
</div>
</block>
<block name="script">
	<script type="text/javascript">
        mui('body').on('tap', 'a', function () { document.location.href = this.href; });
        mui('#offCanvasSideScroll').scroll();
        mui('#offCanvasContentScroll').scroll();
	</script>
</block>