<extend name="Public/base"/>

<block name="body">
    <div class="tw-layout">
    	<div class="tw-list-hd">
            新增岗位
        </div>

	    <div class="tw-list-wrap tw-edit-wrap">
            <form action="__SELF__" method="post" class="form-horizontal ajaxForm">
                <div class="form-item">
                    <label class="item-label">中文岗位名称<span class="check-tips"><b>*</b>（输入岗位名称）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="name" value="{$info['name']}">
                    </div>
                </div>
                
                <div class="form-item">
                    <label class="item-label">英文岗位名称<span class="check-tips"><b>*</b>（输入岗位名称）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="ename" value="{$info['ename']}">
                    </div>
                </div>

                <div class="form-item">
                    <label class="item-label">排序<span class="check-tips">（输入排序大小）</span></label>
                    <div class="controls">
                        <input type="text" class="text input-large" name="sort" value="{$info.sort}">
                    </div>
                </div>
                
                <div class="tw-tool-bar-bot">
                 	<input type="hidden" name="id" value="{:I('id')}">
                    <button type="submit" class="tw-act-btn-confirm">提交</button>
                    <button type="button" onclick="goback()" class="tw-act-btn-cancel">返回</button>
                </div>
            </form>
	    </div>
    </div>
</block>

<block name="script">
    <script>
    </script>
</block>